* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
body{
	overflow-x: hidden;
}
.boton-scroll a {
	position: fixed;
	width: 40px;
	text-align: center;
	font-size: 25px;
	bottom: 4%;
	right: 2%;
	z-index: 9;
	background-color: black;
	color: white;
	opacity: 0.7;
	border-radius: 100%;
	visibility: hidden;
	animation: baja-sube 1s ease infinite;
}
.boton-scroll a:hover {
	background-color: black;
	color: red;
	transition: 0.3s;
}
@keyframes baja-sube {
	0% {
		transform: translateY(10px);
	}

	25% {
		transform: translateY(0px);
	}

	100% {
		transform: translateY(10px);
	}
}
.navbar .container .navbar-brand img{
	width: 75px;
}
#SO h1,
#HL h1
{
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	padding: 20px;
	font-size: 30px;
}
#SO .container-flex,
#HL .container-logos
{
	display: flex;
	height: auto;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 15px;
}
#SO .container-flex .kali img,
#SO .container-flex .mind img,
#SO .container-flex .backbox img,
#SO .container-flex .win10 img,
#SO .container-flex .win11 img,
#HL .container-logos img
{
	width: 140px;
	height: 140px;
	border-radius: 100%;
}
#SO .container-flex .winserver img
{
	border-radius: 20px;
	width: 250px;
	height: 140px;
}

#SO .container-flex img:hover,
#HL .container-logos img:hover
{
	box-shadow: 5px 5px 10px gray;
	cursor: pointer;
	transition: 0.3s;
	translate: 0px -3px;
}
@media only screen and (max-width: 480px) {
#titular h1
{
	font-size: 25px;

}
#SO h1,
#HL h1
{
	font-size: 15px;
}
.boton-scroll a
{
	right: 5%;
}
}
