/* configuración general de la página */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* datos del panel del navegador */
.navbar{
  background-color: #ffc107;
  opacity: 0.;
  color: black;
  font-weight: bold;
}
/*boton de scroll*/
.boton-scroll a {
  position: fixed;
  width: 40px;
  text-align: center;
  font-size: 25px;
  bottom: 4%;
  right: 2%;
  z-index: 9;
  background-color: black;
  color: #ffc107;
  opacity: 0.5;
  border-radius: 100%;
  visibility: hidden;
  animation: baja-sube 1s ease infinite;
}
.boton-scroll a:hover {
  background-color: #ffc107;
  color: black;
  border: 1px solid black;
  transition: 0.3s;
}
@keyframes baja-sube {
  0% {
    transform: translateY(10px);
  }

  25% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}
/* configuración del video del demo */
.parallax {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.parallax-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
/*My Comics*/
.galeria {
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top: 10px;
}
.galeria h1 {
  font-weight: 900;
  text-shadow: 1px 1px 10px gray;
}
.galeria .boxizq {
  width: 100%;
  height: 100%
}
.galeria .imgizq {
  width: 88%;
  height: 100%;
  margin: auto 6%;
}
.galeria #comics1,
#comics2,
#comics3,
#comics4,
#comics5,
#comics6,
#comics7,
#comics8,
#comics9 {
  width: 100%;
  height: auto;
  margin-top: 5px;
}
.galeria #comics1:hover {
  box-shadow: 01px 01px 10px gray;
  cursor: pointer;
}
.galeria #comics2:hover {
  box-shadow: 01px 01px 10px gray;
  cursor: pointer;
}
.galeria #comics3:hover {
  box-shadow: 01px 01px 10px gray;
  cursor: pointer;
}
.galeria #comics4:hover {
  box-shadow: 01px 01px 10px gray;
  cursor: pointer;
}
.galeria #comics5:hover {
  box-shadow: 01px 01px 10px gray;
  cursor: pointer;
}
.galeria #comics6:hover {
  box-shadow: 01px 01px 10px gray;
  cursor: pointer;
}
.galeria #comics7:hover {
  box-shadow: 01px 01px 10px gray;
  cursor: pointer;
}
.galeria #comics8:hover {
  box-shadow: 01px 01px 10px gray;
  cursor: pointer;
}
.galeria #comics9:hover {
  box-shadow: 01px 01px 10px gray;
  cursor: pointer;
}
/* config del jumbotron ande de las card */
.jumbotron {
  background-color: #ffc107;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}
.jumbotron p {
  font-size: 1.2rem;
}
#gold .card
{
  width: 100%;
  margin: 10px;
  overflow: hidden;
}
#gold .card img 
{
  width: 100%;
  height: 350px;
}
/* fondo del parallax de milo */
.efecParallax1 {
  background-image: url(../img/caballeros/milo.gif);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 350px;
}
/* dimenciones de los videos que se ejecutan en los modal */
#dynamicModal video{
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
#saga .saga img,
#cancer .cancer img,
#libra .libra img,
#sagitario .sagitario img,
#acuario .acuario img,
#piscis .piscis img {
  width: 100%;
  height: 500px;
  margin: auto 0px;
}
#saga .contenido,
#cancer .contenido,
#libra .contenido,
#sagitario .contenido,
#acuario .contenido,
#piscis .contenido{
  margin: auto 0px;
}
section footer a:hover {
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .parallax {
    background-image: url(../img/caballeros/fondoleo.jpg);
    height: 100vh;
  }
}
@media (max-width: 580.98px) {
  #gold .card
  {
    width: 70%;
    margin: 15px auto;
    overflow: hidden;
  } 
  #gold .card img 
  {
    width: 100%;
    height: 400px;
  }
}