*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
}
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    overflow:hidden;
}
#body{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 2;
    
}
.main video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a{
    position: relative;
    display:inline-block;
    padding: 25px 30px;
    margin: 20px 20px;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
}
a:hover{
    background: black;
    color: white;
    font-weight: 900;
    box-shadow: 0 0 5px white,
                0 0 25px white,
                0 0 50px white,
                0 0 200px white;
}
/*animacion lineal por el border*/
a span{
    position: absolute;
    display: block;
}
/*parte top del border*/
a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, white);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%, 100%{
        left: 100%;
    }
}/*fin borde top*/
/*border right*/
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg, transparent, white);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%, 100%{
        top: 100%;
    }
}/*fin borde right*/
/*border button*/
a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg, transparent, white);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%, 100%{
        right: 100%;
    }
}/*fin border button*/
a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(270deg, transparent, white);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%, 100%{
        bottom: 100%;
    }
}/*fin border left*/

@media (min-width: 320px) and (max-width: 480px){
    a{
        font-size: 12px; 
} 
}