* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
.boton-scroll a {
	position: fixed;
	width: 40px;
	text-align: center;
	font-size: 25px;
	bottom: 4%;
	right: 2%;
	z-index: 9;
	background-color: black;
	color: white;
	opacity: 0.7;
	border-radius: 100%;
	visibility: hidden;
	animation: baja-sube 1s ease infinite;
}
.boton-scroll a:hover {
	background-color: black;
	color: red;
	transition: 0.3s;
}
@keyframes baja-sube {
	0% {
		transform: translateY(10px);
	}

	25% {
		transform: translateY(0px);
	}

	100% {
		transform: translateY(10px);
	}
}
/*animacion hover IMG */
#carousel-app img{
	width: 60%;
	margin: 0 20%;
	height: 400px;
}
@media  (max-width: 767.99px) {
	#carousel-app img{
		width: 80%;
		margin: 0 10%;
		height: 250px;
	}
}