* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
.boton-scroll a {
	position: fixed;
	width: 40px;
	text-align: center;
	font-size: 25px;
	bottom: 4%;
	right: 2%;
	z-index: 9;
	background-color: black;
	color: white;
	opacity: 0.7;
	border-radius: 100%;
	visibility: hidden;
	animation: baja-sube 1s ease infinite;
}
.boton-scroll a:hover {
	background-color: black;
	color: red;
	transition: 0.3s;
}
@keyframes baja-sube {
	0% {
		transform: translateY(10px);
	}

	25% {
		transform: translateY(0px);
	}

	100% {
		transform: translateY(10px);
	}
}
/*animacion hover IMG */
.container-flex{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
}
.container-flex img
{
	width: 250px;
	height: 250px;
	margin: 10px;
}
.container-flex img:hover{
	box-shadow: 2px 2px 10px gray;
	translate: 0 -5px;
	transition: 0,8s ease-out;
}
.tex{
	width: 100%;
	height: 50px;
	line-height: 50px;
	position: relative;
	display: inline-block;
	overflow: hidden;
}
  .tex .parrafo{
	position: absolute;
	white-space: nowrap;
	color: black;
	text-transform:uppercase;
	animation: parrafo 17s ease-out infinite;
  }
  @media screen and (max-width: 350px){
		@keyframes parrafo{from{left: 100%;}to{left: -280%;}}}
  
  @media screen and (min-width: 351px){
	@keyframes parrafo{from{left: 100%;}to{left: -250%;}}}
	
	@media screen and (min-width: 450px){
	  @keyframes parrafo{from{left: 100%;}to{left: -200%;}}}
  
	  @media screen and (min-width: 550px){
		@keyframes parrafo{from{left: 100%;}to{left: -165%;}}}
  
  @media screen and (min-width: 668px){
		@keyframes parrafo{from{left: 100%;}  to{  left: -140%;}}}
		
  @media screen and (min-width: 868px){
		@keyframes parrafo{from{left: 100%;}  to{  left: -90%;}}}
  
  @media screen and (min-width: 1024px){
		@keyframes parrafo{from{left: 100%;}to{left: -70%;}}}