* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
h1,
h2
{
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}
body {
  position: relative;
  overflow-x: hidden;
}
/* efecto de anuncio */
.tex{
  width: 100%;
  height: 50px;
  line-height: 50px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.tex .parrafo{
  position: absolute;
  white-space: nowrap;
  color: white;
  text-transform:uppercase;
  animation: parrafo 25s ease-out infinite;
}
@media screen and (max-width: 350px){
      @keyframes parrafo{from{left: 100%;}to{left: -280%;}}}

@media screen and (min-width: 351px){
  @keyframes parrafo{from{left: 100%;}to{left: -250%;}}}
  
  @media screen and (min-width: 450px){
    @keyframes parrafo{from{left: 100%;}to{left: -200%;}}}

    @media screen and (min-width: 550px){
      @keyframes parrafo{from{left: 100%;}to{left: -165%;}}}

@media screen and (min-width: 668px){
      @keyframes parrafo{from{left: 100%;}  to{  left: -140%;}}}
      
@media screen and (min-width: 868px){
      @keyframes parrafo{from{left: 100%;}  to{  left: -90%;}}}

@media screen and (min-width: 1024px){
      @keyframes parrafo{from{left: 100%;}to{left: -70%;}}}
/* video de cabecera */
.img-header 
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 500px;
  background-color: #fff;
}
@media screen and (max-width: 768px){
.img-header 
  {
    height: 350px;
  }
}
/* animatio */
@keyframes mianimation{ 
  0%{
     opacity: 1;
  }
  20%{
     opacity: 1;
  }
  30%{
     opacity: 0;
  }
  90%{
     opacity: 0;
  }
  100%{
     opacity: 1;
  }
} 
/* otro */
.img-header .items1,
.img-header .items2,
.img-header .items3,
.img-header .items4
{
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
} 
.img-header .items1
{
  background-image: url(../img/jurasico.jpg);
  animation: mianimation 24s linear 18s infinite;
}
.img-header .items2
{
  background-image: url(../img/johnwick3.gif);
  animation: mianimation 24s linear 12s infinite;
}
.img-header .items3
{
  background-image: url(../img/hombredelnorte.gif);
  animation: mianimation 24s linear 6s infinite;
}
.img-header .items4
{
  background-image: url(../img/topgun3.gif);
  animation: mianimation 24s linear 0s infinite;
}
/* text neon */
.probando{
  color: white;
  text-transform: uppercase;
  padding-top: 200px;
  font-weight: bold;
  letter-spacing: 10px;
  text-shadow: 0 0 10px white,
  0 0 20px white,
  0 0 40px white,
  0 0 80px white,
  0 0 160px white,
  0 0 320px white,
  0 0 640px white,
  0 0 1280px white,
}
@media screen and (max-width:768px){
  .probando{
  padding-top: 140px;
  }
}
/* style mnu */
.wrapper,
#paginaciones {
  position: relative;
  width: 100%;
  height: 100%;
  transition-duration: 0.5s;
  transition-timing-function: swing;
}
/* esta clase .open se asigna desde javascripts */
.wrapper.open {
  transform: translateX(200px);
}

/* fondo del menú móvil */
.opennav {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 10px;
  transition-duration: 0.5s;
  transition-timing-function: swing;
  z-index: 9;
}
.opennav:hover {
  cursor: pointer;
}
/* raya del medio del menú móvil */
.opennav .icon {
  position: absolute;
  top: 24px;
  left: 10px;
  width: 30px;
  height: 2px;
  background: black;
  transition-duration: 0.2s;
}
/* raya de arriba y de abajo del menú movil */
.opennav .icon:before,
.opennav .icon:after {
  position: absolute;
  content: "";
  left: 0;
  width: 30px;
  height: 2px;
  background: black;
  transition-duration: 0.5s;
}
.opennav .icon:before {
  top: -7px;
}
.opennav .icon:after {
  top: 7px;
}
/* variable .open que se asigna desde javascripts */
.opennav.open {
  transform: translateX(250px) translateY(50px);
}
.opennav.open .icon:before,
.opennav.open .icon:after {
  top: 0;
}
.opennav.open .icon:before {
  transform: rotate(-45deg);
}
.opennav.open .icon:after {
  transform: rotate(45deg);
}
/* style del submenu content left */
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
nav ul
{
  width: 200px;
  height: 100vh;
  padding: 20px 0;
  background-color: #fff;
}
nav li {
  color: black;
  font-weight: bold;
  padding: 4px 20px;
}
nav li:hover {
  background-color: black;
  transition: 0.3s;
}
nav li a {
  color: black;
}
nav li:hover a {
  color: #fff;
}
/* se activa desde javascripts */
nav li.active {
  background-color: black;
  color: white;
  transition: 0.3s;
}
nav li a {
  text-decoration: none;
}
.wrapper .wrapper2 {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px 20px;
  background-color: whitesmoke;
} 
.stage{
  list-style: none;
  padding: 0;
}
.scene {
  width: 250px;
  height: 350px;
  perspective: 1000px;
}
.movie {
  width: 250px;
  height: 350px;
  transform-style: preserve-3d;
  transform: translateZ(-125px);
  transition: transform 300ms;
}
.movie:hover {
  transform: rotateY(-70deg) translateZ(30px);
  cursor: pointer;
}
/*************************************
transforma  and  da style a los 2 plano
**************************************/
.movie .poster,
.movie .info {
  position: absolute;
  width: 250px;
  height: 350px;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 2px solid darkgray;
}
.movie .poster {
  transform: translateZ(125px);
  background-size: cover;
  background-repeat: no-repeat;
}
.movie .info {
  transform: rotateY(90deg) translateZ(125px);
  border: 3px solid darkgray;
  font-size: 0.75em;
}
/*************************************
Movie information
**************************************/
.info header {
  color: whitesmoke;
  font-size: 16px;
  padding: 7px 10px;
  font-weight: bold;
  height: 195px;
  background-size: contain;
  background-repeat: no-repeat;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}
.info header h1 {
  /* margin: 0 0 2px; */
  font-size: 2em;
}
.info p {
  padding: 1.2em 1.4em;
  height: 150px;
  font-weight: 700;
  color: black;
  background-color: white;
  line-height: 1.4em;
  border-top: 10px solid darkgray;
  overflow-x: hidden;
  overflow-y: auto;
}
/*************************************
Genera "lighting" usando el box-shadows
**************************************/
.movie .poster,
.movie .info,
.movie .info header {
  transition: box-shadow 350ms;
}
@media screen and (max-width: 767.98px){
nav ul{overflow-y: scroll;}

}